
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="col-md-5">
        <h3>Opps, something wrong! </h3>
    </div>
</body>
</html>
